@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Red+Hat+Mono&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.blinking-cursor::after {
  content: "|";
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.btn {
  @apply transition-colors duration-200 font-semibold rounded h-12 px-4 my-2 focus:outline-none focus:ring-2 focus:border-transparent;
}

.btn-primary {
  @apply text-gray-800 bg-gray-100 hover:bg-gray-300 rounded focus:ring-gray-800;
}

.btn-block {
  @apply w-full;
}

.btn-secondary {
  @apply text-gray-100 bg-gray-800 hover:bg-gray-700 rounded focus:ring-gray-700;
}

.input {
  @apply flex-shrink h-10 px-4 leading-6 rounded-sm bg-inherit;
}

.badge {
  @apply inline-flex items-center justify-center px-2 py-2 text-sm leading-none rounded-md transition-colors hover:bg-gray-600;
}

.contact-input {
  @apply w-full h-12 px-4 my-2 text-gray-800 border border-gray-800 rounded focus:outline-none focus:ring-2 focus:ring-gray-800 focus:border-transparent;
}

.contact-textarea {
  @apply w-full h-24 px-4 my-2 text-gray-800 border border-gray-800 rounded focus:outline-none focus:ring-2 focus:ring-gray-800 focus:border-transparent;
}

.contact-input-error {
  @apply w-full h-12 px-4 my-2 text-gray-800 border border-red-400 rounded focus:outline-red-500 focus:ring-2 focus:ring-red-800 focus:border-red-600;
}

.navbar {
  display: flex;
  align-items: center;
  padding: var(--navbar-padding, 0.5rem);
  min-height: 4rem /* 64px */;
  width: 100%;
}
:where(.navbar > *) {
  display: inline-flex;
  align-items: center;
}

ul li::marker {
  font-size: 1.2em;
  content: " • "; /* Custom content for the marker */
}
